@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: whitesmoke;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  height: 100vh;
  padding: 30px;
  color: rgb(19, 128, 230);
}